# flask.cfg

import os


# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)

# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = b'~\x90\xae\x94\x8cJA\xed1\x94\x99\xd4R\x06Y\x99\x04H^3\xa1!n\x13'
DEBUG = True

#database
SQLALCHEMY_DATABASE_URI = 'sqlite:///../project/db01.db'
SQLALCHEMY_BINDS = {
    'db02': 'sqlite:///../project/db02.db',
    'db03': 'sqlite:///../project/db03.db'
}
SQLALCHEMY_TRACK_MODIFICATIONS = False